@model RomViewModel
@{
    var url = Url.Action("EmulatorScript", "Rom", new { id = Model.Id });
}

<emulator-container>
    <div id="game"></div>
</emulator-container>

<script type="text/javascript" src="@url"></script>
<script src="/emulator/data/loader.js"></script>
