@model RomPlayViewModel
@{
    var url = Url.Action("EmulatorScript", "Rom", new { id = Model.Id });
}
<h1>@ViewData["Title"]</h1>
<emulator-container>
    <div id="game"></div>
</emulator-container>
<p>
    For now this works best in chromium based browsers (chromium, chrome, edge).
    Firefox has some audio playback issues but emulation works fine otherwise.<br />
    Apart from keyboard controls, most standard game controllers are supported.
    The emulator registers the controller automatically as soon as you press the first key on it.<br />
    Save data (regular game memory as well as save states) is kept in your browser.
    The emulator toolbar has icons to import and export your save.
    You should export your save after a game session if you intend to resume it later,
    because browsers may delete the data without warning.
    Be sure to use the ingame save functionality first if there is one.
</p>

<script type="text/javascript" src="@url"></script>