@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">ROM Browser</h1>
<p>
    Select a platform from the menu above to browse all ROMs for that platform,
    or use the search form below to look up specific roms
</p>
@await Html.PartialAsync("PartialSearchForm")