<p>Passwords must follow these rules:</p>
<ol>
    <li>At least 8 characters</li>
    <li>
        Contains 3 of the 4 following categories:
        <ol>
            <li>Uppercase A-Z</li>
            <li>Lowercase a-z</li>
            <li>Digits 0-9</li>
            <li>Symbols</li>
        </ol>
    </li>
</ol>