@model SearchViewModel
@using RomsBrowse.Web.Services
@inject MainMenuService menuService
<form method="get" asp-controller="Home" asp-action="Search">
    <div class="row">
        <div class="col-5">
            <div class="input-group">
                <input type="search" asp-For="Search" required class="form-control" placeholder="Search terms" />
                <select asp-for="Platform" class="form-control">
                    <option value="">All platforms</option>
                    @foreach(var item in menuService.Platforms)
                    {
                        <option value="@item.Id">@item.DisplayName</option>
                    }
                </select>
                <input type="submit" class="btn btn-primary" value="Search" />
            </div>
        </div>
    </div>
</form>
