@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}
<h1>@ViewData["Title"]</h1>

<div class="mb-3">
    <div class="row d-none d-lg-block mb-1">
        <div class="col-12">
            <form method="post">
                <div class="input-group">
                    <input autocomplete="off" id="f11" type="password" class="form-control" asp-for="OldPassword" placeholder="Old password" required />
                    <input autocomplete="off" id="f12" type="password" class="form-control" asp-for="NewPassword1" placeholder="New password" required />
                    <input autocomplete="off" id="f13" type="password" class="form-control" asp-for="NewPassword2" placeholder="New password" required />
                    <input type="submit" class="btn btn-primary" value="Register" />
                </div>
            </form>
        </div>
    </div>
    <div class="d-lg-none mb-1">
        <form method="post">
            <input autocomplete="off" id="f21" type="password" class="form-control mb-1" asp-for="OldPassword" placeholder="Old password" required />
            <input autocomplete="off" id="f22" type="password" class="form-control mb-1" asp-for="NewPassword1" placeholder="New password" required />
            <input autocomplete="off" id="f23" type="password" class="form-control mb-1" asp-for="NewPassword2" placeholder="New password" required />
            <input type="submit" class="btn btn-primary" value="Register" />
        </form>
    </div>
</div>

<partial name="PartialPasswordSafety" />