@model RegisterViewModel
@{
    ViewData["Title"] = "Registration is disabled";
}
<h1>@ViewData["Title"]</h1>

<div class="alert alert-danger">
    User account registration has been disabled by the administrator.
</div>
